.logo img{
    height: 60px;
  }
  @media (max-width: 1568px) {
      /* .container{
          max-width: 1420px;
      } */
      .newsroom{
        padding: 60px 0 30px 20px;
      }
      .contact h2 {
        font-size: 70px;
      }
      .contact .col {
        width: 44%;
      }
      .contact .col2::after{
        width: calc(100% + 90px);
        right: -31px!important;
      }
      .egs_row h1{
        margin-bottom: 150px;
        font-size: 90px;
      }
      .egs_img {
        width: 100%;
        padding: 0 12px;
      }
      .im_text_egs1 img, .image_text.im_text_egs1 .col.egs_col{
        height: 700px;
      }
      .location_map{
        height: 650px;
      background-position-x: -160px;
      }
      .location_map .col2{
        width: 40%;
      }
      .location_map .col2 .switcher, .location_map .col2 .flex_column .col {
        padding: 25px;
      }
      .about h2, .our_products .products_banner .col h1{
        font-size: 58px;
      }
      .about h2{
        font-size: 70px;
      }
      .im_text_about .col{
        padding: 20px;
      }
      .im_text_about .col h2{
        width: 100%;
        font-size: 50px;
      }
      .about_egs .col h2{
        width: 96%;
      }
      .im_text_egs2 .col.egs_col, .im_text_egs2 img{
        height: 800px!important;
      }
      .index_details h2{
        font-size: 40px;
      }
      .about h2, .our_products .products_banner .col h1 {
        font-size: 74px;
    }
    .image_text .col{
      padding-left: 20px;
      padding-right: 20px;
    }
    .about_egs .col{
      padding-left: 20px;
    }
    .flex_reverse .col{
      align-items: flex-start;
    }
    .image_text.im_text_egs1 .col.egs_col{
      padding-left: 20px;
      padding-right: 20px;
    }
    .our_products_banner{
      padding-left: 0;
      padding-right: 0;
    }
    .help .flex_between .col{
      width: 57%;
    }
    details{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    .our_products_banner{
      margin-left: 20px;
      margin-right: 20px;
    }
    .location_map .map_desc{
      width: 60%;
    }
    .network .container .col2{
      padding-bottom: 0px;
    }
    .map_img{
      max-width: 80%;
    }
  }
  @media (max-width: 1420px) {
      /* .container{
          max-width: 1280px;
      } */
      .contact .col2 {
        width: 50%;
      }
      /* .our_products .products_banner img{
        height: 110%;
      } */
  }
  @media (max-width: 1311px){
    .contact .col {
      width: 37%;
    }
    .contact .col2{
      width: 55%;
    }
  }
  @media (max-width: 1240px) {
    .container{
      padding-left: 20px!important;
      padding-right: 20px!important;
    }
    .pricing .col {
      width: 30%;
     
    }
    .pricing{
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
    .pricing::after{
      display: none;
    }
  }
  @media (max-width: 1120px) {
    header .container nav{
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }
    header .container nav a{
      width: 25%;
      text-align: center;
      white-space: nowrap;
    }
    .btn_accent {
      white-space: nowrap;
    }
    .career_banner img{
      height: 100%;
    }
  }
  @media (max-width: 1085px){
    .career_banner{
      height: 450px;
    }
    .career_banner .text{
      padding: 30px 0 30px 30px;
    }
    .career_banner .text h1{
      font-size: 45px;
      line-height: 1.1;
      margin-bottom: 15px;
    }
    .career_banner .text span, .jobs_row .item .flex_column h3{
      font-size: 24px;
      line-height: 1.1;
    }
    .jobs_row .item p{
      font-size: 16px;
    }
    .jobs_row .item a{
      right: 18px;
    }
    .jobs_row .item p {
      width: 57%;
    }
    .jobs_row{
      padding-bottom: 60px;
    }
  }
  @media (max-width: 1280px) {
    .benefits{
      padding-left: 20px;
      padding-right: 20px;
    }
      /* .container{
          max-width: 1150px;
      } */
      /* .home_banner{
          height: 100vh;
      } */
      .home_banner_text{
          margin-top: 70px;
      }
      h1{
          font-size: 90px;
      }
      .network .container .col2 img.map_img{
          /* width: 80%; */
          height: 680px;
      }
      h2{
          font-size: 45px;
      }
      details .flex_between h4{
          font-size: 24px;
      }
      details .flex_between{
          margin-top: 20px;
          column-gap: 20px;
      }
      .egs h2 {
          width: 83%;
        }
        .newsroom .swiper .swiper-slide img, .updates_row .col img{
          height: 230px;
        }
        .newsroom .swiper .swiper-slide h4, .updates_row .col h4{
          width: 100%;
          font-size: 30px;
        }
        .newsroom .swiper .swiper-wrapper .swiper-slide .content, .updates_row .col .content{
          padding: 25px;
          border-bottom-right-radius: 12px;
          border-bottom-left-radius: 12px;
          margin-top: -5px;
        }
        .newsroom .swiper .swiper-slide .content, .updates_row .col .content {
          height: 300px;
        }
        .swiper-button-next, .swiper-button-prev{
          width: 45px;
    height: 45px;
        }
        .swiper-button-next svg, .swiper-button-prev svg {
          width: 20px;
          height: 20px;
        }
        details .flex_between {
          margin-left: 162px;}
          footer .row2 .col2{
              width: 35%;
          }
          .error img {
              width: 300px;
              height: 300px;
              object-fit: contain;
            }
            .error p{
              width: 70%;
            }
            .privacy .col{
              width: 80%;
            }
            .updates .flex_start{
              margin-top: 40px;
            }
            .updates_row{
              margin-top: 90px;
            }
            .our_products .products_banner .col a{
              height: 60px;
            }
            
            .about_products .col img{
              height: 300px;
            }
            .about_products h2, .our_products_banner h1 {
              font-size: 65px;
            }
            .our_products_banner h1{
              width: 56%;
            }
            .egs_col h1{
              font-size: 65px;
            }
            .image_text .col.egs_col h2{
              font-size: 25px;
            }
            .egs_row h1{
              font-size: 75px;
              margin-bottom: 80px;
            }
            .im_text_egs img {
              width: 50%;
              height: auto;
            }
            .im_text_egs1 img{
              height: 750px;
            }
            .about h2, .our_products .products_banner .col h1{
              width: 99%;
            }
            /* .about_egs .col, .about_egs img{
              height: 540px;
            } */
            .image_text .col, .image_text > img{
              height: 700px;
            }
            .image_text .col p {
              margin-bottom: 40px;
            }
            .im_text_about .col h2{
              font-size: 42px;
              margin-bottom: 24px;
            }
            .image_text .col li img {
              width: 40px;
              height: 40px;
            }
            .image_text .col p{
              font-size: 18px;
            }
            .help .flex_between .help_details summary h2{
              font-size: 40px;
            }
            .discover .flex_between .col img{
              height: 500px;
            }
  }
  @media (max-width: 1238px) {
    .contact .col2::after{
      display: none;
     }
     .contact .col {
      width: 40%;
    }
    .contact h2 {
      font-size: 60px;
    }
    .link_contact{
      font-size: 32px;
      margin-bottom: 16px;
    }
    .our_products .products_banner img{
      /* height: auto; */
      /* top: 100px; */
    }
  
  
  }
  @-moz-document url-prefix() {
    @media (max-width: 1280px) {
      .network .container .col2 img.map_img {
          width: 230%; 
      }
  }}  
  @media (max-width: 1149px){
      /* .container{
          max-width: 900px;
      } */
      .container_news{
        padding-left: 20px!important;
        padding-right: 20px!important;
      }
      header nav a, .submenu a{
          font-size: 16px;
      }
      .index_details h2{
        font-size: 32px;
      }
      .index_details{
        min-height: 86px!important;
      }
      h1 {
          font-size: 70px;
        }
        .home_banner_text{
          margin-top: 50px;
        }
        /* .home_banner{
          padding-bottom: 50px;
          height: auto;
        } */
        .about-cards__item{
          height: 195px;
          width: 31%;
        }
        .input-preview{}
        details img {
          width: 50%;
          height: auto;}
          details .flex_between{
              align-items: flex-start;
          }
          h2 {
              font-size: 35px;
            }
            body{
              font-size: 17px;
            }
            .network .container .flex_between{
              margin: 0;
            }
            footer .row2 .col2 {
              width: 47%;
            }
            footer .row a{
              font-size: 30px;
              margin-bottom: 15px;
            }
            footer .copyright span, footer .copyright a{
              font-size: 14px;
            }
            .logo img{
              height: 50px;
            }
            .error p{
              width: 80%;
            }
            .updates_row .col{
              width: 47%;
            }
            .about_products h2, .our_products_banner h1 {
              font-size: 50px;
            }
            .about_products p {
              font-size: 22px;
            }
            .our_products_banner{
              height: 500px;
            }
            .about_products .col img {
              height: 250px;
            }
            .about_products .col2 .flex_column .col p{
              font-size: 18px;
            }
            .single_news_banner h1 {
              font-size: 70px;
            }
            .single_news_banner .container img{
              left: 0;
            }
            .location_map {
              height: 540px;
            }
            .location_map .col2 .flex_column .col a, .location_map .col2 .flex_column .col span{
              font-size: 18px;
            }
            .our_products, .about_text{
              margin-bottom: 80px;
            }
            /* .values .flex_between .col {
              width: 31%;
            } */
            .about h2, .our_products .products_banner .col h1 {
              font-size: 47px;
            }
            .our_products .products_banner{
              padding-top: 80px;
            }
            .our_products .products_banner img{
              top: 0;
            }
            .about_egs .col{
              padding: 60px;
            }
            .about_egs .col, .about_egs img {
              height: 444px;
            }
            .im_text_about .col h2 {
              font-size: 38px;
            }
            .im_text_about .col {
              padding:20px;
            }
            .help .flex_between {
              column-gap: 40px;
            }
            .help .flex_between .help_details summary h2 {
              font-size: 32px;
            }
            .discover .flex_between .col img {
              height: 400px;
            }
            .discover .flex_between .col p{
              font-size: 18px;
            }
            .discover h2 {
              width: 50%;
            }
            .our_products .products_banner{
              padding-bottom: 80px;
            }
            .im_text_egs1 img, .image_text.im_text_egs1 .col.egs_col, .image_text .col, .image_text > img {
              height: 630px;
          }
          .image_text.im_text_egs1 .col.egs_col{
            padding: 30px;
          }
          .image_text .col.egs_col h2 {
            font-size: 22px;
        }
        .egs_col h1 {
          font-size: 55px;
          margin-bottom: 24px;
      }
      .im_text_egs1 img, .image_text.im_text_egs1 .col.egs_col, .image_text .col, .image_text > img {
        height: 500px;
    }
    .image_text .col.egs_col details {
      padding: 20px 0;
    }
    .image_text.im_text_egs1 .col.egs_col h1 {
      width: 100%;
      font-size: 45px;
  }
  .egs_col_row{
    padding-bottom: 80px;
  }
  .image_text .col.egs_col p{
    margin-bottom: 24px;
  }
  .im_text_egs2 .col.egs_col, .im_text_egs2 img{
    height: 600px!important;
  }
  .about h2, .our_products .products_banner .col h1 {
    font-size: 65px;
  }
  .im_text_about .col, .im_text_about img{
    height: 670px;
  }
  .values .flex_between .col{
    height: 200px;
  }
  }
  @media (max-width: 992px){
    .about-cards__item {
      height: 195px;
      width: 48%;
    }
    .about-cards__item:nth-child(7) {
      margin-top: -0;
    }
    .about-cards__item:nth-child(4) {
      margin-top: 0px;
    }
    .about-cards__item:nth-child(6) {
      margin-top: 0;
    }
    .about-cards__item:nth-child(7) {
      margin-top: -48px;
    }
    .about-cards__item:nth-child(5) {
      margin-top: -48px;
    }
    .about-cards__row{
      max-height: 100%;
      padding: 20px 0;
    }
    .about-cards__item:nth-child(9) {
      margin-top: -48px;
    }
    .about-cards__header{
      padding-bottom: 25px;
    }
    .join_daily{
      padding: 0;
    }
    .benefits{
      flex-direction: column;
    }
    .benefits video, .benefits .flex_column{
      width: 100%;

    }
    .benefits .flex_column{
      padding-right: 0;
    }
  }
  @media (max-width: 900px){
      /* .container{
          max-width: 725px;
      } */
      .index_details{
        min-height: auto!important;
      }
      .updates h2{
        font-size: 65px;
      }
      h1 {
          font-size: 55px;
        }
        .home_banner_text p{
          font-size: 25px;
          margin-top: 25px;
        }
        header nav {
          column-gap: 18px;
        }
        .logo img {
          height: 40px;
        }
        a.btn_yellow, a.white_btn {
          padding: 10px 15px;
        }
        header nav a, .submenu a, a.white_btn {
          font-size: 15px;
        }
        .mission .container .col2 p {
          width: 100%;
        }
        .products p {
          width: 57%;}
          details .flex_between h4 {
              font-size: 18px;
            }
            details .flex_between {
              margin-left: 100px;
            }
            details summary div {
              column-gap: 68px;
            }
            details summary img {
              width: 35px;
              height: 35px;
            }
            .network .container .flex_between{
              flex-direction: column;
              row-gap: 24px;
              margin-bottom: 90px;
            }
            .network .container .flex_between .flex_column {
              width: 80%;
            }
            .network .container .flex_between:last-of-type,.copyright{
              flex-direction: column-reverse;
            }
            .network .container .col2 img.map_img {
              width: 100%;
            }
            .network .container .col2{
              align-items: flex-start;
            }
            .egs h2 {
              font-size: 30px;
            }
            footer .row{
              padding-bottom: 60px;
            }
            footer .row2{
              padding-top: 60px;
            }
            .newsroom .flex_between{
              flex-direction: column;
              padding-bottom: 120px;
              position: relative;
              row-gap: 40px;
            }
            .btns{
              position: absolute;
              bottom: 10px;
              right: 15px;
              margin: 0;
            }
            .newsroom .swiper {
              width: 100%;
            }
            .newsroom .swiper .swiper-slide .content, .updates_row .col .content {
              height: 250px;
            }
            .our_products .products_banner img{
              position: relative;
            }
            .our_products .products_banner {
             display: flex;
            }
            /* .our_products .products_banner {
              padding: 80px 0;
            } */
            .our_products .products_banner .flex_start .col {
              padding-left: 15px;
              width: 50%;
            }
            .about_products {
              flex-direction: column;
            }
            .about_products .col, .about_products .col2{
              width: 100%;
            }
            .our_products{
              margin-bottom: 80px;
            }
            .about_products .col img {
              height: 350px;
            }
            .about_products .col2{
              margin-top: 40px;
            }
            .our_products_banner{
              margin-top: 80px;
            }
            .about_products h2, .our_products_banner h1 {
              font-size: 40px;
            }
            .our_products_banner a{
              width: 230px;
            }
            .our_products_banner {
              height: 450px;
            }
            .single_news_banner{
              padding-top: 65px;
            }
            .single_news_banner h1 {
              font-size: 55px;
            }
            .single_news_banner .container img{
    bottom: -200px;
    height: 450px;
            }
            .single_news_content video{
              height: 450px;
            }
            .network .container .col2 img.map_img{
              /* width: 80%; */
              height: auto;
          }
            .single_news_content{
              padding-bottom: 100px;
              margin-top: 0;
            }
            .contact{
              flex-direction: column;
              row-gap: 50px;
              height: auto;
              padding: 40px 0;
            }
             .contact .col2{
              width: 100%;
            }
            .contact .col{
              width: 80%;
            }
            .contact a.white_btn{
              margin-bottom: 52px;
            }
            .link_contact{
              font-size: 22px;
            }
            .im_text_egs{
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .im_text_egs img, .image_text .col.egs_col {
              width: 100%;
              height: auto;
            }
            .image_text.im_text_egs1 .col.egs_col {
              padding: 40px 20px;
              height: auto;
            }
            .map_img{
              margin: 0;
            }
            .egs_col h1 {
              font-size: 50px;
              margin-bottom: 20px;
            }
            .egs_col_row{
              padding-bottom: 60px;
            }
            .image_text .col.egs_col details {
              padding: 24px 0;
            }
            .image_text .col.egs_col h2 {
              font-size: 22px;
            }
            .image_text .col.egs_col p {
              margin-top: 10px;
            }
            .image_text.im_text_egs1 .col.egs_col h1{
              font-size: 45px;
              width: 100%;
            }
            .image_text.im_text_egs1 .col.egs_col, .image_text.im_text_egs1 .col.egs_col details{
              background-color: #f6f6f6;
            }
            .egs_row h1 {
              font-size: 55px;
            }
            .location_map {
              height: 457px;
            }
            .location_map .col2 .switcher, .location_map .col2 .flex_column .col{
              padding: 15px;
            }
            .location_map {
              background-position-x: -160px;
          }
            .location_map .col2 {
              width: 50%;
              overflow-x: hidden;
            }
            .location .container h1 {
              font-size: 75px;
            }
            .location .container p{
              width: 61%;
            }
            .im_text_about{
              flex-direction: column;
              height: auto;
              align-items: center;
            }
            .image_text > img, .image_text .col{
              width: 100%;
              height: auto;
            }
            .values .flex_between .col {
              width: 48%;
            }
            .about_egs .col {
              padding: 40px;
            }
            .about_egs .col h2 {
              /* margin: 24px 0; */
              width: 100%;
              font-size: 28px;
            }
            .about_egs .col, .about_egs img{
              height: 280px;
            }
            .our_products .products_banner{
              justify-content: space-between;
            }
            /* .sevices .products_banner img{
              height: 400px;
            } */
            .sevices .products_banner .col a{
              margin: 0;
            }
            .discover .flex_between .col img {
              height: 275px;
            }
            .help .flex_between .help_details summary h2 {
              font-size: 24px;
            }
            .help{
              margin: 60px 0;
            }
            details.help_details p, .discover .flex_between .col p{
              font-size: 16px;
            }
            .discover .flex_between .col p{
              margin-top: 12px;
            }
            .discover .flex_between .col h5{
              font-size: 24px;
            }
            .discover h2 {
              width: 74%;
            }
            .image_text.im_text_egs1 .col.egs_col{
              width: 100%;
            }
            .im_text_egs2 .col.egs_col, .im_text_egs2 img{
              height: auto!important;
            }
            .index_details h2 {
              font-size: 23px;
          }
          details.help_details.index_details{
            margin-bottom: 20px;
          }
          .network .container .flex_between{
            margin-bottom: 0;
          }
          .sevices .products_banner .col h1{
            font-size: 48px;
          }
          .our_prod_banner_inner{
            flex-direction: column;
            align-items: start;
            padding: 0!important;
          }
          .our_products_banner.banner_dn{
            display: flex;
            align-items: flex-end;
          }
          .our_products_banner h1{
            margin-bottom: 20px;
          }  
  }
  @media (max-width: 865px) {
    .career_banner{
      display: flex;
      flex-direction: column-reverse;
      height: auto;
    }
    .career_banner img{
      position: relative;
      right: auto;
      left: auto;
    }
    .career_banner div{
      position: relative;
      left: auto;
      top: auto;
    }
    .career_banner div{
      display: none;
    }
    .career_banner div.text{
      display: block;
      background: transparent;
      clip-path: none;
      width: 100%;
      padding: 20px ;
      height: auto;
    }
    .career_banner .text p, .career_banner img{
      width: 100%;
      height: auto;
      top: auto;
    }
    .career_banner img{
     height: 190px;
    }
    .jobs{
      margin-top: 0;
    }
    .jobs h2{
      font-size: 32px;
    }
    .jobs_row .item{
      flex-direction: column;
      padding: 20px;
      border-radius: 14px;
    }
    .jobs_row .item p {
      width: 100%;
    }
    .jobs_row .item .flex_column span{
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.1;
    }
    .jobs_row .item p{
      font-size: 14px;
      margin-top: 10px;
      line-height: 1.1;
    }
    .jobs_row .item .flex_column h3{
      font-size: 22px;
    }
    .jobs_row .item a{
      bottom: -80px;
    }
    .jobs_row {
      padding-bottom: 85px;
    }
  }
   @media (max-width: 725px){
    .pricing .col {
      width: 90%;
     
    }
    .pricing::after{
      content: '';
  display: block;
  background-color: #E00000;
  width: 310px;
  height: 160px;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  position: absolute;
  bottom: 144px;
  right: 13px;
  z-index: -1;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  top: auto;
    }
    .pricing .col p{
      display: block;
      
    }
    .hot{
    flex-direction: column-reverse;
    row-gap: 20px;
    }
    .hot .flex_column {
      width: 100%;
    }
    .hot .flex_column h2{
      line-height: 1;
    }
    .benefits{
      margin-bottom: 40px;
    }
    .pricing .col .head h2{
      margin-top: 5px;
    }
    .pricing .col p{
      font-size: 16px;
    }
    .updates h2{
      font-size: 48px;
    }
    .map_img{
      max-width: 100%;
    }
     /* .container{
          max-width: 550px;
      } */
      header nav.flex_between{
          display: none;
      }
      header{
          height: auto;
          padding: 15px 0;
      }
      .home_banner_text {
          width: 74%;
      }
      .mission .container, .services .flex_between{
          flex-direction: column;
          row-gap: 32px;
      }
      .mission .container .flex_column, .services .container .col1, .services .container .col2, .products p {
          width: 100%;
      }
      .services .container .col2 li{
          flex-direction: row;
      }
      details .flex_between{
          flex-direction: column-reverse;
          align-items: center;
          row-gap: 20px;
          margin-left: 0;
      }
      details img, details .flex_between .flex_column, footer .row2 .col2 {
          width: 80%;
      }
      details .flex_between a{
          width: 60%;
          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
      }
      details {
          padding: 20px;
          min-height: 78px;
      }
      footer .row2{
          flex-direction: column;
          row-gap: 40px;
      }
      .mob_menu_btn{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        height: 32px;
        width: 74px;
        background-color: #fff;
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-feature-settings: 'ss03' on;
  color: #222222;
  text-decoration: none;
  position: relative;
  z-index: 555;
      }
      .mob_menu{
        display: flex;
      }
      .updates_row .col, .our_products .products_banner .col, .our_products .products_banner img{
        width: 100%;
      }
      .our_products .products_banner{
        flex-direction: column;
        row-gap: 40px;
      }
      .our_products_banner {
        padding: 40px;
        height: 350px;
      }
     
      .about_products h2, .our_products_banner h1 {
        font-size: 35px;
      }
      .about_products p {
        font-size: 18px;
        margin-bottom: 24px;
      }
      .prod_header{
        background-color: #f6f6f6;
      }
      .prod_header .mob_menu_btn{
        background-color: #fff;
      }
      /* .our_products{
        background-color: #f6f6f6;
      } */
      
      .about_products h2{
        font-size: 40px;
        margin-bottom: 12px;
      }
      .about_products p{
        font-size: 16px;
        width: 100%;
        margin-bottom: 12px;
      }
      .about_products .col img{
        height: 300px;
      }
      .about_products .col2{
        margin-top: 24px;
      }
      .about_products .col2 .switcher{
        height: 48px;
      }
      .switcher div.active{
        height: 40px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .switcher div, .about_products .col2 .flex_column .col p{
        font-size: 14px;
      }
      .about_products .col2 > .flex_column{
        margin-top: 40px;
      }
      .about_products .col2 .flex_column .col img{
        width: 40px;
        height: 40px;
      }
      .about_products .col2 .flex_column .col{
        column-gap: 12px;
      }
      .about_products .col2 .flex_column .col span{
        font-size: 16px;
      }
      .our_products_banner{
        height: 500px;
        flex-direction: column;
        padding: 16px;
        align-items: flex-start;
        justify-content: flex-end;
        margin-bottom: 16px;
      }
      .our_products_banner h1{
        width: 98%;
        margin-bottom: 20px;
      }
      .our_products_banner a{
        width: 100%;
      }
      .prod_footer{
        border-top: 1px solid #dddddd;
      }
      .mob_menu .flex_column .flex_between{
       padding: 10px 20px;
      }
      .single_news_banner h1 {
        font-size: 45px;
      }
      .single_news_banner .container img {
        bottom: -130px;
      }
      .single_news_content {
        padding-top: 200px;
      }
      .single_news_content .col p, .single_news_content .col li{
        font-size: 18px;
      }
      .single_news_content h4{
        font-size: 32px;
      }
      .egs_row h1{
        width: 100%;
      }
      .location_map .map_desc{
        display: none;
      }
      .map_mob{
        display: block;
        width: 100%;
      }
      .location_map{
        background: none;
        height: auto;
      }
      .location_map{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }
      .location_map .col2 {
        width: 100%;
        overflow-y: auto;
      }
      .location_map .col2 .switcher{
        width: 60%;
      }
      .location_map .col2 > .flex_column{
        flex-direction: row;
        width: 100%;
      }
      .location_map .col2 .flex_column .col h2{
        font-size: 18px;
      }
      .location_map .col2 .flex_column .col .flex_start{
        margin-bottom: 12px;
      }
      .location_map .col2 .flex_column .col a, .location_map .col2 .flex_column .col span{
        font-size: 14px;
      }
      .location_map .col2 .flex_column .col{
        flex:  0 0 50%;
      }
      .about_text h2, .about_text p{
        width: 80%;
      }
      .about_text h2{
        margin: 20px 0;
      }
      .im_text_about .col h2{
        font-size: 32px;
      }
      .im_text_about .col {
        padding: 20px;
      }
      .image_text > img{
        height: 390px;
      }
      .image_text .col p {
        font-size: 16px;
      }
      .values .flex_between .col {
        width: 100%;
      }
      .values .flex_between, .values{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .values h2{
        margin-bottom: 40px;
      }
      .about_egs {
        flex-direction: column-reverse;
      }
      .about_egs .col, .about_egs img{
        width: 100%;
      }
      .discover .dn, .help .dn{
        display: none;
      }
      .discover_slider{
        display: block;
        width: 100%;
      }
      .discover_slider .flex_between{
        column-gap: 0;
      }
      .discover_slider .flex_between .col img{
        height: 400px;
        margin-bottom: 12px;
        width: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
      .discover_slider .flex_between .col h5{
        font-size: 18px;
      }
      .discover_slider .flex_between .col p, .discover_slider .flex_between .col a{
        font-size: 14px;
      }
      .discover_slider .flex_between .col p{
        margin-top: 8px;
        padding-bottom: 12px;
        margin-bottom: 12px;
      }
      .discover_slider .flex_between .col a svg{
        width: 16px;
        height: 16px;
      }
      .discover h2{
        width: 100%;
        text-align: left;
        margin-bottom: 40px;
      }
      .discover{
        margin-top: 40px;
        padding-bottom: 40px;
      }
      .help_slider .flex_between .swiper-slide h5{
        margin-bottom: 8px;
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
  color: #041E42;
      }
      .help_slider .flex_between .swiper-slide p{
  font-family: 'Roobert';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'ss03' on;
  color: #969696;
  margin: 0;
  padding: 0;
      }
      .dn_desc{
        display: block;
        font-family: 'Roobert';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 100%;
        font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
        color: #041E42;   
        margin-bottom: 40px;  
      }
      .our_products_banner.dn{
        margin: 16px;
        border-radius: 16px;
      }
      .image_text > img{
        height: auto;
      }
      details.help_details.index_details, .services .container .col{
        width: 100%;
      }
      .location_map .col2 .flex_column{
        overflow-x: scroll;
      }
      .about_products .col2 > .flex_column{
        margin: 0;
      }
  .banner_dn{
    display: block;
  }
  .our_products .products_banner img{
    bottom: auto;position: relative; height: auto;
  }
  .our_products .products_banner{
    height: auto;
  }
  .sevices{
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .offer_creative h2{
    font-size: 32px;
    line-height: 1.1;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .about__right{
    gap: 15px;
  }
  .about__text{
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
  }
  .about__image{
    border-radius: 20px;
  }
  .text-4, .values h2{
    font-size: 24px;
    line-height: 1.1;
    text-align: center;
  }
  .about__image{
    max-height: 200px;
  }
  .what-do .container{
    padding-bottom: 0px;
  }
  .values h2{
    margin-bottom: 20px;
  }
  .values .flex_between .col{
    height: auto;
  }
  .values .flex_between .col span, .about_egs .col span{
    font-size: 16px;
  }
  .about_egs .col h2{
    margin-bottom: 15px;
  }
  .about_egs .col{
    height: auto;
  }
  .about-cards__item{
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .about-cards__item:nth-child(2), .about-cards__item:nth-child(3),.about-cards__item:nth-child(5),.about-cards__item:nth-child(7),.about-cards__item:nth-child(9) {
    margin-top: 0;
  }
  .about-cards__row{
    row-gap: 20px;
  }
  .daily_banner p{
    width: 85%;
  }
  .join_daily p{
    width: 100%;
    font-size: 18px;
    line-height: 1.1;
  }
  .join_daily h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 15px;
  }
  
  .about-cards__header {
    padding-bottom: 0;
  }
  .about__numbers-item{
    text-align: center;
  }
  .discover_banner h2{
    font-size: 26px;
    line-height: 1;
  }
  .about__left{
    display: none;
  }
  .hot .flex_column p{
    font-size: 20px;
    line-height: 1.1;
  }
  }
  @media (min-width: 1300px) {
    .home_banner{
      overflow: visible;
    }
  }
  @media (max-width: 950px) {
    .home_banner .container, .home_page-video {
      height: 400px;
    }
    .h_cont{
      padding-left: 20px;
    }
    .map_banner{
      margin-top: 0;
    }
    .map_banner .container .btn_accent {
      right: 34%;
    }
    .map_banner .container .map_half, .map_banner .container video{
      height: 400px;
    }
    .home_banner .container .col h2{
      font-size: 40px;
    }
    .h_cont {
      height: 48px;
    }
    .home_page-video {
      width: 57%;
    }
    header .container nav{
      display: none;
    }
    header .container a.btn_accent{
      display: none;
    
    }
    .burger_menu{
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }
    .burger_menu div{
      width: 25px;
      height: 2px;
      border-radius: 100px;
      background: #FAC63E;
      transition: all ease 0.3s;
    }
    .burger_menu.active div:nth-of-type(1){
      transform: rotate(45deg) translateY(8px);
    }
    .burger_menu.active div:nth-of-type(2){
     opacity: 0;
    }
    .burger_menu.active div:nth-of-type(3){
      transform: rotate(-45deg) translateY(-8px);
    }
    .mob_menu nav a{
      text-align: center;
      padding: 10px 0;
    }
    .mob_menu.active{
      transform: translateY(97px);
    }
    .mob_menu{
      transform: translateY(-100%);
      transition: all ease 0.3s;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      padding: 15px 0 30px 0;
      background: #ffffffe3;
      z-index: 21;
    }
    .mob_menu a.btn_accent{
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      width: 60%;
    }
    .footer__col3{
      flex-direction: column;
      row-gap: 15px;
    }
    .footer_block a{
      text-align: center;
    }
  }
  @media (max-width: 720px) {
    .home_banner .container .col{
      width: 100%;
    }
    .home_banner{
      margin-top: 0;
    }
    .home_banner .container .col h2 {
      font-size: 28px;
      text-align: center;
    }
    .home_banner .container .col{
      height: 136px;
    }
    .home_banner .container{
      flex-direction: column;
    }
    .home_page-video {
      width:100%;
      height: 250px;
      object-fit: cover;
      clip-path: none;
      position: relative;
      top: auto;
      right: auto;
      z-index: -1;
    }
    .h_cont {
      height: 34px;
      padding-left: 0;
    }
    .home_banner .container .col {
      margin-top: 30px;
    }
    .home_banner .container{
      height: auto;
    }
    .map_banner .container{
      flex-direction: column;
    }
    .map_banner .container .map_half{
      width: 100%;
      height: 450px;
    }
    .home_banner{
      height: auto;
    }
    .map_banner .container video{
      width: 100%;
      height: auto;
    }
    .map_banner .container .btn_accent{
      width:calc(100% - 40px);
      right: 20px;
      height: 55px;
      font-size: 20px;
      bottom: 4%;
    }
    .ads_banner .container h1{
      font-size: 40px;
      line-height: 1;
    }
    .ads_banner .container{
      padding: 40px 0;
    }
    .ads_banner{
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .ads_banner .container a{
      font-size: 20px;
    }
    .ads_banner .container{
     max-width: 330px;
     margin-left: auto;
     margin-right: auto;
      background: url(https://res.cloudinary.com/parallax-agency/image/upload/c_fill,q_70,f_auto,w_900,h_650/statamic/clear-channel-v3-kbuild-production/love-cocoa_519338_179864_44359_w1t-4tw-3-1659433893.jpg) no-repeat;
      background-size: cover;
      height: 450px;
    }
    .gm-style-mtc-bbw{
      display: none!important;
    }
    #map span{
      display: none!important;
    }
    .sectors .flex_between{
      display: none;
    }
    .sectors .p_sector{
      width: 100%;
      font-size: 20px;
    }
    .sectors h2{
      margin-bottom: 15px;
    }
    .footer_block{
      flex-direction: column;
      padding: 0;
    }
    .pricing::after{
      display: none!important;
    }
    .daily_banner{
      padding-top: 30px;
    }
    .about-cards__row{
      flex-direction: column;
    }
    .about-cards__row div {
      width: 100%;
    }
    .about-cards__row .flex_column {
      width: 78%;
      margin-left: auto;
      margin-right: auto;
    }
    .join_daily{
      margin-top: 0;
    }
    .about-cards__row{
      padding-bottom: 0;
    }
    .benefits .container{
      flex-direction: column-reverse;
      padding: 0;
    }
    .benefits {
      padding: 0!important;
      max-height: 100%;
    }
    .about_page h2{
      width: 100%;
      font-size: 22px;
    }
    .about_page .banner {
      padding: 40px 20px;
    }
    .about_content .flex_between{
      flex-direction: column;
      row-gap: 15px;
    }
    .about_content .row{
      flex-direction: column-reverse;
    }
    .about_content .row .flex_column{
      width: 100%;
    }
    details{
      min-height: 1px!important;
    }
    fieldset details ul{
      padding-left: 0;
    }
    .contact .col2 form fieldset details ul span{
      font-size: 16px;
    }
    fieldset details ul li label{
      font-size: 14px;
      width: 80%;
    }
    details summary{
      font-size: 14px;
    }
    fieldset details{
      padding: 15px!important;
    }
    fieldset{
      height: auto;
    }
    .p_daily{
      font-size: 16px;
      width: 100%;
    }
    .footer__col3{
      flex-direction: column;
      row-gap: 15px;
    }
    .footer_block a{
      text-align: center;
    }
  }
  
  @media (max-width: 550px){
      /* .container{
          max-width: 343px;
      } */
      /* .home_banner{
          height: 600px;
          background: url(img/home_banner_mob.png) no-repeat;
          background-size: cover;
          padding: 0;
      } */
      h1 {
          font-size: 48px;
        }
        .home_banner_text p{
          font-size: 22px;
        }
        .home_banner_text {
          width: 100%;
          margin-top: 140px;
        }
        .mission, .services, .products {
          padding: 40px 0;
        }
        /* span{
          font-size: 10px;
          line-height: 14px;
        } */
        .mission .container .flex_column{
          row-gap: 12px;
        }
        h2 {
          font-size: 32px;
        }
        p{
          font-size: 14px;
        }
        .about_content{
          padding-top: 20px;
        }
        .mission .container .col2{
          row-gap: 24px;
        }
        .mission{
          padding-bottom: 70px;
        }
        .services .container .col1{
          row-gap: 0;
        }
        .services .container .col1 span{
          margin-bottom: 8px;
        }
        .services .container .col1 h2, .services .container .col1 p{
          margin-bottom: 24px;
        }
        .services .container .col2 li{
          padding: 24px 0;
        }
        .services .container .col2 li p{
          font-size: 16px;
        }
        .products p{
          margin: 12px 0;
        }
        .products a.white_btn{
          margin-bottom: 66px;
        }
        details summary img {
          width: 32px;
          height: 32px;
        }
        details summary div {
          column-gap: 25px;
        }
        details{
          padding: 24px 16px;
          padding-left: 16px!important;
          padding-right: 16px!important;
        }
        .swiper-button-next, .swiper-button-prev{
          width: 40px;
          height: 40px;
        }
        .newsroom .swiper .swiper-slide img, .updates_row .col img, .newsroom .swiper .swiper-slide{
          border-radius: 8px;
        }
        .newsroom .swiper .swiper-wrapper, .newsroom .swiper .swiper-slide, .newsroom .swiper{
          border-radius: 0;
        }
        .egs_row p{
          width: 100%;
        }
        .our_products_banner{
          border-radius: 16px;
        }
        .updates .container .flex_between{
          flex-direction: column;
          align-items: flex-start;
        }
        .updates .container .flex_between .flex_start{
          justify-content: space-between;
          width: 100%;
        }
        details img, details .flex_between .flex_column, footer .row2 .col2, details .flex_between a, .network .container .flex_between h2, .network .container .flex_between .flex_column{
          width: 100%;
        }
        details .flex_between h4 {
          font-size: 16px;
        }
        details .flex_between a{
          margin-top: 16px;
        }
        .network .container .col2 .flex_column h5:last-of-type{
          margin-top: 24px;
        }
        .network .container .col2 .flex_column h5{
          margin-bottom: 12px;
          font-size: 10px;
        }
        .network .container .col2 .flex_column span{
          font-size: 14px;
        }
        .network .container .col2 .flex_column .flex_start img{
          width: 16px;
          height: 16px;
        }
        .network, .mission{
          padding-bottom: 40px;
        }
        .network .container .flex_between:last-of-type{
          margin: 0;
        }
        .egs h2 {
          width: 96%;
        }
        .mission .container{
          row-gap: 24px;
        }
        .newsroom{
          padding: 40px 0 40px 16px;
        }
        .newsroom .swiper .swiper-slide img, .updates_row .col img{
          height: 140px;
        }
        .newsroom .swiper .swiper-wrapper .swiper-slide .content, .updates_row .col .content{
          padding: 20px;
        }
        .newsroom .swiper .swiper-slide .content, .updates_row .col .content{
          height: 170px;
        }
        .newsroom .swiper .swiper-slide h4, .updates_row .col h4{
          font-size: 22px;
          margin-top: 8px;
        }
        .newsroom .swiper .swiper-slide a, .updates_row .col a{
          font-size: 14px;
          line-height: 16px;
        }
        .newsroom .swiper .swiper-slide a svg, .updates_row .col a svg{
          width: 16px;
          height: 16px;
        }
        .newsroom {
          padding: 40px 0 0px 16px;
        }
        .img{
          height: 260px;
          object-fit: cover;
        }
        footer{
          padding: 16px ;
        }
        footer .row{
          flex-direction: column;
          row-gap: 24px;
          padding-bottom: 25px;
        }
        footer .row a, footer .row2 .col1 h4{
          font-size: 22px;
        }
        footer .row2{
          padding-top: 20px;
          padding-bottom: 40px;
        }
        footer .row2 .col1 h4, footer .row2 .col2 .col span, footer .row2 .col2 .col a{
          margin-bottom: 12px;
        }
        footer .row2 .col2 .col a{
          font-size: 14px;
        }
        footer .row2 .col2{
          width: 90%;
        }
        footer .copyright span, footer .copyright a{
          font-size: 12px;
        }
        footer .copyright{
          align-items: flex-start;
        }
      
        .error{
          align-items: flex-start;
          padding-bottom: 80px;
        }
        .error img {
          width: 192px;
          height: 170px;
          object-fit: contain;
        }
        .error h2{
          font-size: 22px;
          margin: 24px 0 12px 0;
        }
        .error p{
          width: 100%;
          text-align: left;
          margin-bottom: 32px;
        }
        .error a{
          font-size: 13px;
          white-space: nowrap;
        }
        .privacy{
          padding: 40px 0 100px 0;
        }
        .privacy h1{
          margin-bottom: 40px;
        }
        .privacy .col{
          width: 100%;
        }
        .privacy .col h4{
          font-size: 18px;
        }
        .privacy .col p{
          font-size: 14px;
        }
        .privacy .flex_column{
          row-gap: 40px;
        }
        .updates{
          padding-top: 40px;
          padding-bottom: 60px;
        }
        .updates .flex_start {
          margin-top: 60px;
          justify-content: space-between;
        }
        .updates_row {
          margin-top: 40px;
        }
        .updates_row{
          gap: 20px;
        }
        .updates .flex_start a.white_btn{
          width: 84px;
          height: 32px;
          padding: 0;
        }
        .updates .flex_start a svg{
          width: 16px;
          height: 16px;
        }
        .sort_submenu{
          width: 100px;
          left: -15px;
        }
        .sort_submenu a{
          text-align: center;
          padding: 10px 0;
        }
        .our_products .products_banner{
          padding: 40px 40px  0 40px;
        }
  
        .our_products .products_banner .col h1, .our_products .products_banner .col a{
          margin-bottom: 28px;
        }
        .our_products .products_banner .col a{
          width: 100%;
          height: 48px;
        }
        .our_products .products_banner .col a svg rect{
          fill: none;
        }
        .our_products .products_banner .flex_start .col{
          font-size: 40px;
        }
        /* .mob_menu .flex_column .flex_between{
          width: 343px;
        } */
        .our_products .products_banner{
          position: relative;
          height: 404px;
          margin-bottom: 380px;
        }
        .our_products .products_banner img{
          position: absolute;
          right: 0;
          bottom: -80%;
          left: auto;
          top: auto;
          height: auto;
          height: 374px;
        }
        footer{
          padding: 16px 0;
        }
        .single_news_banner{
          padding-top: 40px;
        }
        .breadcrumbs span, .single_news_banner span{
          font-size: 14px;
          white-space: nowrap;
        }
        .single_news_banner{
          padding-bottom: 150px;
        }
        .single_news_banner h1{
          font-size: 36px;
          margin: 20px 0;
        }
        .container_news .flex_between{
          flex-direction: column;
          align-items: flex-start;
          row-gap: 16px;
        }
        .single_news_banner .social a{
          width: 32px;
          height: 32px;
        }
        .single_news_banner .social a svg{
          width: 20px;
          height: 20px;
        }
        .single_news_banner .container img{
          height: 260px;
          bottom: -160px;
          width: calc(100% - 40px);
          left: 20px;
        }
        .breadcrumbs{
          overflow-x: hidden;
        }
        .single_news_content .col h3, .single_news_content h4{
          font-size: 22px;
        }
        .single_news_content .col{
          row-gap: 16px;
        }
        .single_news_content .col p, .single_news_content .col li{
          font-size: 14px;
        }
        .single_news_content{
          row-gap: 32px;
        }
        .single_news_content video{
          height: 180px;
        }
        
  .single_news_content .col li::before{
    top: 23%;
  }
  .contact .col{
    width: 100%;
  }
  .contact h2{
    font-size: 44px;
    margin-bottom: 12px;
  }
  .contact p{
    margin-bottom: 12px;
  }
  .contact .col2 form span.custom-select-trigger, .contact .col2 form input, .custom-select-wrapper{
    height: 46px;
    font-size: 14px;
  }
  .contact .col2 form input::placeholder, .contact .col2 form textarea::placeholder{
    font-size: 14px;
  }
  .contact .col2 form span.custom-select-trigger{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-left: 15px;
  }
  .custom-select-trigger::after{
    top: 12px;
    width: 20px;
    height: 20px;
  }
  .contact .col2 form{
    row-gap: 8px;
  }
  .contact .col2 form span{
    font-size: 12px;
  }
  .contact .col2 form textarea, .contact .col2 form input{
    padding: 15px;
  }
  .contact .col2 form a{
    width: 100%;
    margin-top: 15px;
  }
  .contact .col2 form span.custom-option{
    padding: 15px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .im_text_egs img, .image_text .col.egs_col{
    width: 100%;
  }
  .egs_row{
    padding-top: 40px;
    padding-bottom: 12px;
  }
  .egs_row h1{
   font-size: 48px;
   margin-bottom: 80px;
  }
  /* .egs_img{
    height: 400px;
  } */
  .egs_col_row{
    padding: 40px 0;
  }
  .egs_col h1{
    font-size: 32px;
    margin-bottom: 0;
  }
  .image_text .col.egs_col h2{
    font-size: 18px;
  }
  .image_text .col.egs_col p{
    font-size: 14px;
  }
  .image_text .col.egs_col details {
    padding: 16px 0;
  }
  .image_text.im_text_egs1 .col.egs_col h1{
    font-size: 32px;
  }
  .img_esg_cont{
    height: 400px;
    border-radius: 12px;
  }
  .img_esg_cont img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .location_map .col2 .flex_column .col{
    flex:  0 0 66%;
  }
  .location_map .col2 .flex_column .col .flex_start div{
    width: 20px;
    height: 20px;
  }
  .location_map .col2 .flex_column .col a, .location_map .col2 .flex_column .col span{
    line-height: 19px;
  }
  .map_mob, .location .container p{
    width: 100%;
  }
  .switcher div.active{
    font-weight: normal;
    height: 34px;
  }
  .location .container h1{
    font-size: 40px;
    margin-bottom: 12px;
  }
  .location .container p{
    font-size: 14px;
    padding-bottom: 22px;
  }
  .location{
    padding-top: 40px;
  }
  .location_map .col2{
    overflow-x: scroll;
  }
  .error .flex_center{
    width: 100%;
  }
  .error a{
    width: 50%;
  }
  .about .products_banner{
    width: 420px;
    margin-bottom: 435px;
  }
  .about .products_banner img{
    width: calc(100% - 20px);
    left: 20px;
    bottom: -88%;
  }
  .about_text h2{
    margin: 12px 0 16px 0;
  }
  .about_text p {
    width: 88%;
  }
  .about h2, .our_products .products_banner .col h1{
    font-size: 36px;
    margin-bottom: 28px;
  }
  .about p{
    margin-bottom: 28px;
  }
  .about .products_banner .flex_start .col{
    font-size: 0;
  }
  .our_products .products_banner .flex_start .col h2{
    font-size: 32px;
  }
  .image_text > img, .image_text .col{
    width: 100%;
  }
  .im_text_about .col{
    padding: 20px 16px 40px 16px;
  }
  .im_text_about .col h2{
    margin-bottom: 12px;
  }
  .image_text .col p{
    font-size: 14px;
  }
  .image_text .col li img{
    width: 32px;
    height: 32px;
  }
  .image_text .col li{
    column-gap: 12px;
    font-size: 14px;
    max-width: 88%;
    margin-bottom: 12px;
  }
  .values .flex_between .col, .values h2{
    width: 100%;
    text-align: left;
  }
  .values{
    padding: 40px 0 24px 0;
  }
  .values .flex_between .col span{
    /* font-size: 12px; */
    padding-bottom: 12px;
    letter-spacing: normal;
  }
  .values .flex_between .col h5{
    margin: 12px 0;
    font-size: 18px;
  }
  .about_egs .col, .about_egs img{
    width: 100%;
  }
  .about_egs .col{
    padding: 20px 16px 40px 16px;
  }
  .about_egs .col h2{
    font-size: 32px;
    /* margin: 12px 0 40px 0; */
  }
  .discover_slider .flex_between .col img{
    height: 400px;
  }
  .sevices .products_banner{
    margin-bottom: 0;
  }
  .sevices .products_banner img{
    bottom: -105%;
    width: calc(100% - 20px);
  }
  .sevices {
    padding-bottom: 80px;
    margin-bottom: 375px;
  }
  .about_header{
    background-color: #f6f6f6;
  }
  .about_header .mob_menu_btn{
    background-color: #fff;
  }
  .our_products .products_banner .flex_start .col{
    border-width: 2px;
  }
  .image_text.im_text_egs1 .col.egs_col{
    width: 100%;
  }
  .our_products .products_banner img{
    width:100%;
  }
  .about_products .col2 > .flex_column{
    margin: 0;
  }
  .our_products .products_banner img{
    bottom: auto;position: relative; height: auto;
  }
  .our_products .products_banner{
    height: auto;
  }
  .sevices{
    padding-bottom: 40px;
    margin-bottom: 0;
  }
      }