@font-face {
    font-family: "Aeonik";
    src: url(fonts/fonnts.com-Aeonik_Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: "Aeonik";
    src: url(fonts/fonnts.com-Aeonik_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Aeonik";
    src: url(fonts/fonnts.com-Aeonik_Black.ttf);
    font-weight: 900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex_between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex_column{
    display: flex;
    flex-direction: column;
}
body{
    font-family: "Aeonik";
    font-size: 16rem;
    color: #161616;
}
a{
    text-decoration: none;
    color: #161616;
}
.container{
    max-width: 1200rem;
    width: 100%;
    /* padding-left: 32rem;
    padding-right: 32rem; */
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
@media (min-width: 1380px) {
  .career_banner{
    max-width: 1200rem;
    margin-left: auto;
    margin-right: auto;
  }
}
header{
    padding: 12rem 0;
    box-shadow: 0 7rem 34rem rgba(0,0,0,.3);
    background: #ffffffe3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 22;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a img{
   width: 200rem;
}
header .container nav{
    display: flex;
    column-gap: 24rem;
    align-items: center;
}
header .container nav a{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 18rem;
line-height: 19rem;
transition: all ease 0.3s;
}
.about_page .banner{
  width: 100%;
  padding: 40rem 0;
  background: url(https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.about_page .banner::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000005e;
  backdrop-filter: blur(1rem);
}
.about_content .flex_between{
  column-gap: 30rem;
  margin-top: 30rem;
  margin-bottom: 30rem;
}
.about_content {
  padding: 60rem 0 20rem 0;
}
.about_content p{
  font-size: 20rem;
  margin-bottom: 20rem;
}
.about_page h2{
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 26rem;
}

.about_content .row .flex_column{
  row-gap: 15rem;
  width: 60%;
}
header .container nav a:hover{
  text-decoration: underline;
}
.btn_accent{
display: flex;
justify-content: center;
align-items: center;
padding: 10rem 32rem;
background: #FFD147;
border-radius: 100rem;
font-size: 18rem;
width: fit-content;
transition: all ease 0.3s;
}
.btn_accent:hover{
  background: #ffc20c;
}
.home_banner{
    position: relative;
    overflow-x: hidden;
    margin-top: -110rem;
}
.home_banner .container{
    display: flex;
    justify-content: space-between;
    height: 500rem;
}
.home_banner .container .col{
    width: 50%;
    margin-top: 15%;
}
.home_page-video{
    width: 60%;
    height: 500rem;
    object-fit: cover;
    clip-path: polygon(33% 0, 100% 0%, 67% 100%, 0% 100%);
    position: absolute;
    top: 0%;
    right: -10%;
    z-index: -1;
}
.home_banner .container .col h2 {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: bold;
    font-size: 59rem;
    line-height: 1;
    animation: combinedEffect 1.8s linear forwards;
}

.h_cont {
    overflow: hidden;
    height: 69rem;
    padding-left: 50rem;
}

@keyframes combinedEffect {
    0% {
        height: 0;
        transform: translateY(100rem) scale(1);
    }
    15% {
        height: 45rem;
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(0) scale(1.07);
    }
}

.home_banner .container .col h2 {
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: bold;
    font-size: 59rem;
    line-height: 1;
    animation: combinedEffect 1.8s linear forwards;
}

.h_cont {
    overflow: hidden;
    height: 69rem;
    padding-left: 50rem;
}

@keyframes combinedEffect {
    0% {
        height: 0;
        transform: translateY(100rem) scale(1);
    }
    15% {
        height: 45rem;
        transform: translateY(0) scale(1);
    }
    100% {
        transform: translateY(0) scale(1.07);
    }
}

.play_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 90rem;
    position: absolute;
    background: #FFD147;
    border-radius: 50%;
    right: 42%;
    bottom: 35rem;
    transition: all ease 0.3s;
}
.play_btn:hover{
    width: 140rem;
    height: 140rem;
}
.play_btn svg{
    width: 35rem;
    height: 35rem;
}
h1{
    text-align: center;
    margin-bottom: 48rem;
    font-family: 'Aeonik';
    font-style: normal;
    font-weight: 400;
    font-size: 140rem;
    line-height: 144rem;
}
/* .map_banner{
    margin-top: 80rem;
    background-color: #c8c7c8;
} */
.map_banner .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30rem 0 150rem 0;
}
.map_banner .container .map_half{
    width: 60%;
    height: 600rem;
    object-fit: cover;
}
.map_banner .container video{
    width: 40%;
    height: 600rem;
    object-fit: cover;
}
.map_banner .container h2{
    font-family: 'Aeonik';
    font-weight: 900;
    font-size: 48rem;
    line-height: 50rem;
    -webkit-text-stroke: 1.5rem #E00000;
    letter-spacing: 2rem;
    color: transparent;
    right: 3%;
    top: 5%;
    text-transform: uppercase;
  }
.map_banner .container .btn_accent, .map_banner .container h2, .map_banner .container span{
    position: absolute;
}
.map_banner .container .btn_accent{
    right: 4%;
    bottom: 5%;
    font-size: 32rem;
    text-align: center;
    width: 33%;
    line-height: 1;
    height: 80rem;
}
.map_banner .container span{
    right: 6%;
    bottom: 4%;
    font-size: 20rem;
}
details summary {
  list-style: none; /* Убираем стандартный маркер */
}

details summary::-webkit-details-marker {
  display: none; /* Убираем маркер в браузерах на основе Webkit */
}
details  ul li{
  list-style: none;
  height: 25rem;
}
details  ul li input{
  opacity: 0;
  width: 1rem!important;
  height: 1rem!important;
}
/* .swiper{
    margin-top: 48rem;
} */
.swiper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper .swiper-slide img{
    height: 100rem;
}
.ads_banner{
    margin: 48rem 0 100rem 0;
}
.ads_banner .container{
    width: 100%;
    padding: 80rem 0;
    background: url(img/ads.jpg) no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.ads_banner .container::after{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000000b5;
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.ads_banner .container h1{
    color: #fff;
    position: relative;
    z-index: 3;
    font-weight: bold;
    font-size: 60rem;
    line-height: 1;
    margin-bottom: 48rem;
}
.ads_banner .container h1 span{
    color: #FFD147;
    position: relative;
    z-index: 3;
}
.ads_banner .container a{
    position: relative;
    z-index: 3;
    font-size: 24rem;
    text-transform: capitalize;
    font-weight: bold;
    width: 200rem;
    height: 50rem;
}
footer{
   padding-bottom: 40rem;
  }
  footer .row{
    align-items: flex-start;
    padding-bottom: 95rem;
    border-bottom: 1rem solid #e1dede;
  }
  footer .row a, .link_contact{
    text-decoration: none;
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 40rem;
line-height: 100%;
font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
color: var(--text-color);
margin-bottom: 24rem;
transition: all ease 0.3s;
  }
  footer .row a{
    text-decoration: underline;
  }
  footer .row a:last-of-type, .link_contact:last-of-type{
    margin: 0;
  }
  footer .row2{
    padding: 100rem 0;
    align-items: flex-start;
  }
  footer .row2 .col1 h4{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 40rem;
line-height: 100%;
font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
color: var(--text-color);
margin-bottom: 24rem;
  }
  footer .row2 .col2{
    align-items: flex-start;
    width: 28%;
  }
  footer .row2 .col2 .col:first-of-type{
    width: 49%;
  }
  footer .row2 .col2 .col span{
    margin-bottom: 16rem;
  }
  footer .row2 .col2 .col a{
    text-decoration: none;
    color: #041E42;
    margin-bottom: 15rem;
    transition: all ease 0.3s;
  }
  footer .row2 .col2 .col a:hover, footer .copyright a:hover{
    text-decoration: underline;
  }
  footer .copyright span,   footer .copyright a{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 16rem;
line-height: 20rem;
font-feature-settings: 'ss03' on;
color: #AAAAAA;
text-decoration: none;
text-transform: none;
letter-spacing: 0;
}
footer .copyright div{
  column-gap: 20rem;
}
/* discover */
.discover_banner{
    width: 100%;
    height: 150rem;
    position: relative;
}
.discover_banner .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discover_banner::after{
    content: '';
    background: #00000075;
    backdrop-filter: blur(2rem);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.discover_banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: none;
}
video{
  border: 0!important;
  outline: none!important;
}
.p_daily{
  font-size: 20rem;
  width: 75%;
}
.discover_banner h2{
    font-size: 52rem;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-weight: 900;
}
/*  */
.about {
    /* padding: 20rem 0; */
  /*   border-top: 1rem solid #E2E2E2; */
      padding-bottom: 0;
  }
  .about__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .what-do{
      padding-top: 0;
  }
  .what-do .container{
      padding-bottom: 64rem;
      display: flex;
      flex-direction: column;
      row-gap: 20rem;
  }
  @media (max-width: 991px) {
    .about__row {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 32rem;
    }
    .about__text{
      max-width: 100%;
    }
  }
  /* .about__row:nth-last-child(1) {
    border-bottom: 1rem solid #E2E2E2;
  } */
  .about__row:last-of-type{
    border: 0;
    /* border-top: 1rem solid #E2E2E2; */
  }
  .about__left {
    max-width: 50%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            display: none;
  }
  @media (max-width: 991px) {
    .about__left {
      max-width: 100%;
      width: 100%;
    }
  }
  .about__left .btn {
    margin-bottom: 132rem;
  }
  @media (max-width: 991px) {
    .about__left .btn {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .about__left .about__image {
      display: none;
    }
  }
  .about__right {
    width: 100%;
    max-width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
justify-content: center;
    gap: 40rem;
  }
  .about__right .about__image {
    display: none;
  }
  @media (max-width: 991px) {
    .about__right .about__image {
      display: block;
    }
  }
  @media (max-width: 991px) {
    .about__right {
      max-width: 100%;
      width: 100%;
    }
    .about__right.md-reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
    }
  }
  .about__right .btn {
    display: none;
  }
  @media (max-width: 991px) {
    .about__right .btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  .about__text {
    max-width: 564rem;
  }
  .about__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @media (max-width: 991px) {
    .about__numbers {
      width: 100%;
      max-width: 100%;
    }
  }
  @media (max-width: 575px) {
    .about__numbers {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 32rem;
    }
  }
  .about__numbers-number {
    font-size: 70rem;
    line-height: 1;
    margin-bottom: 7rem;
    font-weight: 700;
    color: #fd3841;
  }
  .about__image {
    height: 100%;
    width: 85%;
    max-width: 554rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 384rem;
    max-height: 250rem;
  }
  @media (max-width: 1200px) {
    .about__image {
      width: 200rem;
      height: 200rem;
    }
  }
  @media (max-width: 991px) {
    .about__image {
      width: 85%;
      height: auto;
    }
  }
  @media (max-width: 575px) {
    .about__image {
      width: 100%;
      height: auto;
    }
  }
  .text-4{
    font-size: 32rem;
    line-height: 35rem;
  }
  .text-grey{
    font-size: 21rem;
    color: #888888;
  }
  #counter{
    max-width: 100%;
    margin-top: 30rem;
  }
  .benefits{
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
    margin: 40rem 0 100rem 0; 
    background-color: #c8c7c8;
    /* max-width: 1280rem;
    margin-left: auto;
    margin-right: auto; */
    /* max-height: 490rem; */
  }
  .benefits .container{
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* position: relative;
    margin: 40rem 0 100rem 0; 
    background-color: #c8c7c8;
    max-width: 1280rem;
    margin-left: auto;
    margin-right: auto;
    max-height: 490rem; */
  }
  .benefits video{
   max-width: 340rem;
   width: 100%;
   max-height: 490rem;
   height: 100%;
    object-fit: cover;
    clip-path: none;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    z-index: 1;
  }
  .benefits .flex_column{
    row-gap: 10rem;
    padding-right: 20rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
  }
  .benefits .flex_column h2{
    /* margin-top: 25rem; */
    font-size: 22rem;
    line-height: 1.1;
  }
  .benefits .flex_column span{
    color: #E00000;
  }
  .benefits .col{
    font-size: 17rem;
  }
  .topics{
    margin-bottom: 100rem;
  }
  .title{
    text-align: center;
    font-size: 41rem;
    margin-bottom: 40rem;
  }
  .und{
    font-size: 35rem;
    text-decoration: underline;
    margin-bottom: 30rem;
  }
  .title span{
    letter-spacing: 2rem;
    color: #E00000;
    font-weight: 800;
    font-size: 53rem;
  }
  .topics .flex_between{
    row-gap: 24rem;
    flex-wrap: wrap;
  }
  .topics li{
    margin-left: 35rem;
    font-size: 24rem;
    width: 47%;
  }
  .pricing{
    column-gap: 15rem;
    margin-bottom: 80rem;
  }
  .pricing .col{
    width: 25%;
    transition: all ease 0.3s;
  }
  .pricing .col .head{
    width: 100%;  /* ширина карточки */
    height: 150rem; /* высота карточки */
    background: linear-gradient(141deg, rgba(255,209,71,1) 0%, rgba(255,214,109,1) 49%, rgba(255,129,0,1) 100%);     border-top-left-radius: 20rem; /* закругление верхнего левого угла */
    border-top-right-radius: 20rem; /* закругление верхнего правого угла */
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); /* форма клипирования */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .pricing .col .head h2{
    font-size: 24rem;
  }
  .pricing .col .head span{
    font-size: 24rem;
  }
  .price{
    overflow: visible;
  }
  .pricing{
    position: relative;
  }
  .pricing::after{
    content: '';
    display: block;
    background-color: #E00000;
    width: 237rem;
    height: 160rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    position: absolute;
    top: -4rem;
    right: -4rem;
    z-index: -1;
    border-top-left-radius: 24rem;
    border-top-right-radius: 24rem;
  }
  .pricing .col p{
    color: #888888;
    margin-bottom: 30rem;
    margin-bottom: 30rem;
    text-align: center;
  }
  .content{
    padding-top: 50rem;
    margin-top: -30rem;
    -webkit-box-shadow: 0rem 5rem 5rem 0rem rgba(0,0,0,0.75);
    -moz-box-shadow: 0rem 5rem 5rem 0rem rgba(0,0,0,0.75);
    box-shadow: 0rem 5rem 5rem 0rem rgba(0,0,0,0.75);
    border-bottom-left-radius: 20rem; /* закругление верхнего левого угла */
    border-bottom-right-radius: 20rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 20rem;
  }
  .content a{
    width: 100%;
  }
  .h2{
    text-align: center;
    font-size: 45rem;
    margin-bottom: 40rem;
  }
  .hot{
    margin-bottom: 100rem;
    column-gap: 50rem;
  }
  .hot .flex_column{
    width: 64%;

  }
  .hot .flex_column p{
    font-size: 24rem;
    line-height: 32rem;
    margin-bottom: 15rem;
  }
  .hot .flex_column p img{
    width: 30rem;
    height: 30rem;
  }
  .hot .flex_column h2{
    font-size: 40rem;
    margin-bottom: 20rem;
  }
  .hot .flex_column p span{
    color: #FFD147;
    font-weight: 600;
    font-size: 26rem;
  }
  .hot .flex_column a{
    color: #6563ff;
    text-decoration: underline;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 5rem;
    font-size: 23rem;
    margin-top: 20rem;
  }
  .hot .flex_column a svg{
    width: 25rem;
    height: 25rem;
    transition: all ease 0.3s;
  }
  .hot .flex_column a:hover svg{
    transform: scale(1.2);
  }
  /* career_banner */
  .career_banner {
    width: 100%;
    height: 500rem;
    position: relative;
    overflow: hidden;
    background-color: #fafafa;
  }
  .career_banner div{
    width: 60%;
    height: 900rem;
    clip-path: polygon(0 0, 0 100%, 100% 0);
        background-color: #FFD147;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
  }
  .career_banner img{
    width: 45%;
    object-fit: cover;
    height: auto;
    position: absolute;
    right: 0;
    top: -11%;
  }
  .career_banner .text{
    padding: 50rem 0 50rem 50rem;
  }
  .career_banner .text h1{
    text-align: left;
    font-size: 110rem;
  line-height: 1;
  margin-bottom: 25rem;
  }
  .career_banner .text span{
    font-size: 28rem;
    text-transform: uppercase;
    margin-bottom: 0;
    display: block;
  }
  .career_banner .text p{
    width: 58%;
    font-size: 20rem;
  }
  .jobs{
    background-color: #fff;
    position: relative;
    z-index: 222;
    margin-top: -100rem;
   padding: 40rem 0;
  }
  .jobs h2{
    text-align: center;
    font-size: 45rem;
    line-height: 1;
    margin-bottom: 30rem;
  }
  .jobs_row{
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 100rem;
  }
  .jobs_row .item{
    width: 100%;
    padding: 30rem 24rem;
    border-radius: 20rem;
    box-shadow: 0rem 0rem 8rem 1rem rgba(219,219,219,1);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 40rem;
    position: relative;
  }
  .jobs_row .item p{
    width: 60%;
    font-size: 19rem;
    line-height: 24rem;
  }
  .jobs_row .item .flex_column h3{
    font-size: 28rem;
  }
  .jobs_row .item .flex_column span{
    margin-top: 23rem;
  }
  .jobs_row .item a{
    background-color: #FFD147;
    border-radius: 50%;
    width: 100rem;
    height: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 45rem;
  bottom: -60rem;
}

/*  */
footer{
  background-color: #e0e0e0;
  padding-bottom: 20rem;
}
.footer_block {
	display: flex;
	justify-content: space-between;
	background-color: #e0e0e0;
	padding: 40rem 0;
  align-items: center;
}

.footer_a {
	text-decoration: none;
	font-size: 18rem;
	line-height:30rem;
}
.footer__col1 img{
  width: 200rem;
}
.footer_a:hover {
	text-decoration: underline;
}


.footer__col3,
.footer__col4 {
	display: flex;
	flex-direction: column;
}
.footer__col3{
  flex-direction: row;
  column-gap: 20rem;
}
.footer__col4 a {
	color: #FFD147;
}


.footer_block a {
	padding: 5rem;
}
.footer_block a svg{
  width: 35rem;
  height: 35rem;
}

.f_p {
text-align: center;
margin: 0rem;
color: #FFD147;
}


footer .flex_center{
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 5rem;
}
/* contact */
/* .contact_cont{
  border-bottom: 1rem solid #DDDDDD;
} */
.contact{
  padding-top: 95rem;
  align-items: flex-start;
  /* height: 900rem; */
  overflow: visible;
}
.contact .col{
  width: 50%;
}
.contact h2{
  font-size: 100rem;
  margin-bottom: 24rem;
}
.contact p{
  margin-bottom: 24rem;
}
.contact a.white_btn{
  margin-bottom: 100rem;
}
.contact .col2{
  width: 46%;
  position: relative;
}
.contact .col2 span{
  color: #000000;
}


.contact .col2 form{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact .col2 form input, fieldset{
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 1rem solid #DDDDDD;
  outline: none;
  height: 64rem;
  padding: 20rem;
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 24rem;
font-feature-settings: 'ss03' on;
color: var(--text-color);
margin-bottom: 15rem;
}
fieldset{
 padding: 0;
}
fieldset details {
  padding: 20rem!important;
  background-color: #f6f6f6;
}
fieldset details[open]{
  position: absolute;
  z-index: 2;
  width: 100%;
}
fieldset details ul{
  padding-left: 20rem;
}
fieldset details ul li{
  padding: 10rem;
  height: auto;
  display: flex;
  align-items: center;
  transition: all ease 0.3;

}
fieldset details ul li label{
  display: flex;
  align-items: center;
  font-size: 18rem;
  color: #000;
}
fieldset details ul li.active{
  background-color: #fff;
  position: relative;
}
fieldset details ul li.active::after{
  content: '';
  display: block;
  width: 25rem;
  height: 25rem;
  position: absolute;
  right: 10rem;
  top: 9rem;
  background: url(img/check.png);
  background-size: cover;
}
.contact .col2 form input:focus, .contact .col2 form textarea:focus{
  border-bottom:1rem solid #041E42 ;
}
.contact .col2 form input::placeholder, .contact .col2 form textarea::placeholder{
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 24rem;
  font-feature-settings: 'ss03' on;
  color: #807e7e;
}
fieldset details{
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 24rem;
  font-feature-settings: 'ss03' on;
  color: #807e7e;
}
.contact .col2 form .flex_between{
  column-gap: 12rem;
}
.contact .col2 form textarea{
  width: 100%;
  background-color: #f6f6f6;
  border: none;
  border-bottom: 1rem solid #DDDDDD;
  outline: none;
  height: 160rem;
  min-height: 160rem;
  padding: 20rem;
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 24rem;
font-feature-settings: 'ss03' on;
color: var(--text-color);
resize: vertical;
}
.contact .col2 form a{
  align-self: flex-end;
  width: 300rem;
  margin-top: 30rem;
  margin-bottom: 50rem;
}
.contact .col2 form span{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 16rem;
line-height: 20rem;
font-feature-settings: 'ss03' on;
color: #000;
text-transform: none;
letter-spacing: normal;
margin-bottom: 10rem;
display: block;
}
.contact .col2 form h4{
  margin: 20rem 0 15rem 0;
  font-size: 24rem;
}
.contact_header{
  background: none;
}
/*  */

.custom-select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  user-select: none;
  height: 64rem;
}
.custom-select.opened .custom-options{
  background-color: #f6f6f6;
  z-index: 22;
}
.custom-select-wrapper select {
  display: none;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;

}

.contact .col2 form span.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  height: 64rem;
  padding: 20rem;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 24rem;
  font-feature-settings: 'ss03' on;
  color: #CDCDCD;
  background: #f6f6f6;
  cursor: pointer;
  z-index: 2;
  border-bottom: 1rem solid #DDDDDD;
}



.custom-select.opened .custom-select-trigger:after {
  transform: scaleY(-1);
}

.custom-select.opened .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.contact .col2 form span.custom-option{
  position: relative;
  display: block;
  padding: 15rem 22rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: 400;
  font-size: 20rem;
  line-height: 24rem;
  font-feature-settings: 'ss03' on;
  color: #CDCDCD;
}
.contact .col2 form span.custom-option{
  padding-bottom: 30rem;
}
.custom-option:hover {
  background: #efefef;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  min-width: 100%;
  /*margin: 15rem 0;*/
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
  background: #fff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-15rem);
}
#piano_type{
  position: relative;
}
.custom-select-trigger::after{
  content: "";
  width: 24rem;
  height: 24rem;
  display: block;
  background: url(img/arrow-down2.svg) no-repeat;
  background-position: center;
  position: absolute;
  top: 20rem;
  right: 10rem;
  transition: all ease 0.3s;
  transform-origin: ce;
}
form .flex_between:last-of-type .custom-select-wrapper {
  width: 112rem;
}
/* locations */
.black_header{
  background-color: #000000;
}
.black_header nav a{
  color: #fff;
}
.black_header a.btn_yellow{
  color: #000000;
}
.location_map{
  width: 100%;
  height: 900rem;
  /* background: url(img/Map.png) no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: flex-end;
}
.location_map .map_desc{
  width: 70%;
  height: 100%;
  object-fit: cover;
}
.location_map .col2{
  width: 30%;
  background-color: #000000;
}
.location_map .col2 .switcher{
  padding: 40rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
}
.location_map .col2 .flex_column .col{
  width: 100%;
  padding: 40rem;
  cursor: pointer;
  transition: all ease 0.3s;
}
.location_map .col2 {
  height: 100%;
  overflow-y: scroll;
}
.location_map .col2 .flex_column .col:hover{
  background-color: #1a1a1a;
}
.location_map .col2 .flex_column .col.col_active{
  background-color: #1a1a1a;
}
.location_map .col2 .flex_column .col.col_active h2{
  color: var(--yellow);
}
.location_map .col2 .flex_column .col.col_active .flex_start div{
  color: var(--yellow);
}
.location_map .col2 .flex_column .col h2{
  color: #fff;
  font-size: 28rem;}
.location_map .col2 .flex_column .col .flex_start div{
  width: 24rem;
  height: 24rem;
  background-color: #fff;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16rem;
  border-radius: 50%;
}
.location_map .col2 .flex_column .col .flex_start{
  margin-bottom: 24rem;
  column-gap: 12rem;
}
.location_map .col2 .flex_column .col a, .location_map .col2 .flex_column .col span{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 24rem;
font-feature-settings: 'ss03' on;
color: #FFFFFF;
text-decoration: none;
letter-spacing: normal;
text-transform: none;
}
.location_map .col2 .flex_column .col span{
  margin-bottom: 12rem;
}
/*  */



.location{
  background-color: #000000;
  padding-top: 60rem;
}
.location .container h1{
  font-size: 100rem;
  margin-bottom: 24rem;
  color: #fff;
}
.location .container p{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 140%;
font-feature-settings: 'ss03' on;
color: #FFFFFF;
width: 48%;
padding-bottom: 48rem;
}
.location_contact .contact .col2::after{
  display: none;
}
.black_header .submenu a{
  color: var(--text-color);
}
.our_products{
  background-color: #eceaef;
  width: 100%;
  position: relative;
  margin-bottom: 60rem;
}
.our_products .products_banner{
  padding: 120rem 0;
}
.our_products .products_banner .col{
  width: 50%;
}
.our_products .products_banner img{
  position: absolute;
  right: 0;
  top: 0;
  max-height: 445rem;
  height: 100%;
  width: 50%;
  object-fit: cover;
}
.our_products .products_banner .col h1{
  color: var(--text-color);
  margin-bottom: 30rem;
  font-size: 100rem;
  line-height: 1;
  text-align: left;
}
.our_products .products_banner .col span{
  color: var(--text-color);
}
.our_products .products_banner .col a{
  width: 300rem;
  margin-bottom: 60rem;
}
.our_products .products_banner .flex_start .col{
  border-left: 1rem solid #FAC63E;
  padding-left: 20rem;
  width: 37%;
}
.our_products .products_banner .flex_start .col span{
  color: #AAAAAA;
}
.about_products {
  column-gap: 80rem;
  align-items: flex-start;
}
.about_products h2{
  font-size: 88rem;
  margin-bottom: 24rem;
}
.about_products p{
  font-size: 28rem;
  margin-bottom: 60rem;
  width: 90%;
}
.about_products .col, .about_products .col2{
  width: 50%;
}
.about_products .col{
  width: 55%;
}
.about_products .col2{
  overflow: hidden;
}
.about_products .col img{
  width: 100%;
  height: 500rem;
  object-fit: cover;
  border-radius: 24rem;
}
.about_products .col2 .switcher{
  background-color: #f4f3ef;
  border-radius: 100rem;
  height: 65rem;
  padding: 4rem;
  width: fit-content;
  margin-bottom: 60rem;
}
.contact .col2 form fieldset details ul span{
  font-weight: 700;
  margin-bottom: 10rem;
  margin-top: 10rem;
  text-transform: uppercase;
  font-size: 20rem;
}

.switcher div {
  cursor: pointer;
  padding: 16rem 24rem;
  color: #969696;
  border-radius: 100rem;
}
.switcher div.active {
  color: var(--text-color);
  background-color: var(--yellow);
}
.about_products .col2 > .flex_column {
  row-gap: 40rem;
  /* margin-top: 60rem; */
  transition: all ease 0.6s;
}
.about_products .col2 .flex_column .col{
  align-items: flex-start;
  column-gap: 24rem;
  width: 100%;
}
.about_products .col2 .flex_column .col img{
  width: 64rem;
  height: 64rem;
  object-fit: cover;
}
.about_products .col2 .flex_column .col span{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 28rem;
line-height: 140%;
font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
color: var(--text-color);
text-transform: none;
letter-spacing: 0;
}
.about_products .col2 .flex_column .col p{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 140%;
font-feature-settings: 'ss03' on;
color: var(--text-color);
margin: 0;
width: 100%;
}
.our_products_banner{
  height: 700rem;
  border-radius: 24rem;
  background: url(img/our_banner.png) no-repeat;
  background-size: cover;
  margin: 150rem 12rem 0 12rem;
  padding: 64rem;
  align-items: flex-end;
}
.our_products_banner h1{
  font-size: 80rem;
  width: 48%;
}
.our_products_banner a{
  background-color: #fff;
  width: 300rem;
}
.our_products_banner a:hover{
  background-color: var(--text-color);
  color: #FFFFFF;
}
.our_products_banner a:hover svg path{
  fill: #fff;
}
/* tabs */
.hidden {
  height: 0;
  margin: 0!important;
  transform: translateX(100%);
}
.switcher div {
  cursor: pointer;
}
.switcher div.active {
  font-weight: bold;
}
.mob_menu_btn{
  display: none;
  transition: all ease 0.3s;
}
.about {
  /* padding: 64rem 0; */
/*   border-top: 1rem solid #E2E2E2; */
	padding-bottom: 0;
  padding-top: 20rem;
}
.about__row {
  /* padding: 20rem 0; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* border-top: 1rem solid #E2E2E2; */
}
.about__row:first-of-type{
  border: 0;
}
.what-do{
	padding-top: 0;
}
.what-do .container{
	padding-bottom: 64rem;
}
@media (max-width: 991px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32rem;
  }
}
/* .about__row:nth-last-child(1) {
  border-bottom: 1rem solid #E2E2E2;
} */
.about__left {
  max-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 991px) {
  .about__left {
    max-width: 100%;
    width: 100%;
  }
}
.about__left .btn {
  margin-bottom: 132rem;
}
@media (max-width: 991px) {
  .about__left .btn {
    display: none;
  }
}
@media (max-width: 991px) {
  .about__left .about__image {
    display: none;
  }
}
.about__right {
  width: 100%;
  max-width: 660rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32rem;
}
.about__right .about__image {
  display: none;
}
@media (max-width: 991px) {
  .about__right .about__image {
    display: block;
  }
}
@media (max-width: 991px) {
  .about__right {
    max-width: 100%;
    width: 100%;
    align-items: center;
  }
  .about__right.md-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__right .btn {
  display: none;
}
@media (max-width: 991px) {
  .about__right .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.about__text {
  max-width: 564rem;
}
.about__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 85%;
}
@media (max-width: 991px) {
  .about__numbers {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 575px) {
  .about__numbers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32rem;
  }
}
/* .about__numbers-number {
  font-size: 140rem;
  line-height: 145rem;
  margin-bottom: 32rem;
} */
.about__image {
  height: 100%;
  width: 85%;
  max-width: 554rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 384rem;
  max-height: 250rem;
}
@media (max-width: 1200px) {
  .about__image {
    width: 200rem;
    height: 200rem;
  }
}
@media (max-width: 991px) {
  .about__image {
    width: 85%;
    height: auto;
  }
}
@media (max-width: 575px) {
  .about__image {
    width: 100%;
    height: auto;
  }
}

/* @media (max-width: 991px) {
  .what-do .about__row {
    gap: 0;
  }
  .what-do .about__row:nth-child(1) {
    gap: 32rem;
  }
  .what-do .about__row .step-title {
    margin-bottom: -12rem;
  }
} */

.our-process {

}
.our-process .about__row {
  border-top: 1rem solid #373737;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-process .about__row:nth-last-child(1) {
  border-bottom: 1rem solid #373737;
}
.our-process .about__row .toggle-title {
  cursor: pointer;
}
.our-process .about__row .about__right {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.our-process .about__row.toggled {
  padding-top: 64rem;
}
/* @media (max-width: 991px) {
  .our-process .about__row.toggled {
    padding-top: 32rem;
  }
} */
.our-process .about__row .toggle-content {
  display: none;
  padding-top: 32rem;
}

.our-process .about__row .toggle-item {
  gap: 0;
}

.our-work {
  padding: 64rem 0;
}
.our-work__intro {
  padding: 32rem 0 64rem;
  border-top: 1rem solid #373737;
  border-bottom: 1rem solid #373737;
}
.our-work__intro-row {
  margin-top: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 32rem;
}
@media (max-width: 767rem) {
  .our-work__intro-row {
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.our-work__intro-row-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 110rem;
}
.offer_creative h2{
  text-align: center;
  font-size: 40rem;
  margin-bottom: 25rem;
}
/* values */
.values{
  padding: 60rem 0 116rem 0;
}
.values h2{
  margin-bottom: 25rem;
  font-size: 40rem;
}
.values .flex_between{
  gap: 20rem;
  flex-wrap: wrap;
}
.values .flex_between .col{
  width: 45%;
  height: 150rem;
}
.values .flex_between .col span{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 24rem;
font-feature-settings: 'ss03' on;
color: var(--text-color);
padding-bottom: 24rem;
 border-bottom: 1rem solid #DDDDDD;
 display: block;
 width: 100%;
}
.values .flex_between .col h5{
font-family: 'Aeonik';
font-style: normal;
font-weight: 400;
font-size: 28rem;
line-height: 140%;
font-feature-settings: 'ss01' on, 'ss08' on, 'ss12' on;
color: var(--text-color);
margin: 24rem 0;
}
.values .flex_between .col p{
  color: #969696;
  width: 75%;
}
.about_egs .col{
  padding: 80rem 80rem 150rem 80rem;
  background-color:#FFD147;
  height: 600rem;
  width: 50%;
}
.about_egs img{
  height: 600rem;
  width: 50%;
  object-fit: cover;
}
.about_egs .col span, .about_egs .col h2, .about_egs .col a{
  color: #fff;
}
.about_egs .col h2{
  width: 85%;
  margin-bottom: 20rem;
}
.about_egs .col a{
  background: none;
  border: 1rem solid #FFFFFF;
}
/* egs */
.egs_row{
  padding: 60rem 0 40rem 0;
}
.egs_row h1{
  color: var(--text-color);
  width: 90%;
  margin-bottom: 260rem;
  margin-top: 20rem;
}
.egs_img{
  width: 100%;
  /* padding: 0 12rem;
  border-radius: 24rem; */
}
.egs_col h1{
  font-size: 88rem;
  color: var(--text-color);
  margin-bottom: 40rem;
}
.image_text .col.egs_col{
  background-color: #fff;
  padding: 0;
  width: 50%;
  height: auto;
}
.image_text .col.egs_col h2{
  font-size: 28rem;
  width: 100%;
  margin: 0;
}
.im_text_egs img{
  width: 600rem;
  height: 665rem;
  object-fit: cover;
}
.image_text .col.egs_col:first-of-type details{
  border-top: 0;
}
.image_text .col.egs_col details{
  padding: 32rem 0;
  margin: 0;
}
.image_text .col.egs_col p{
 margin-top: 24rem;
 margin-bottom: 0;
}
.egs_col_row{
  padding: 60rem 0 180rem 0;
}
.im_text_egs1 img{
  width: 50%;
  height: 900rem;
}
.image_text.im_text_egs1 .col.egs_col{
  padding: 60rem 80rem 0 80rem;
  height: 900rem;
  background-color: #f6f6f6;
}
.image_text.im_text_egs1 .col.egs_col details{
  background-color: #f6f6f6;
}
.image_text.im_text_egs1 .col.egs_col h1{
  width: 60%;
}
.about_egs .col{
  padding: 60rem 40rem;
  background-color: #FFD147;
  height: auto;
  width: 50%;
}
.about_egs img{
  height: 307rem;
  width: 50%;
  object-fit: cover;
}
.about_egs .col span, .about_egs .col h2, .about_egs .col a{
  color: #000;
}
.about_egs .col h2{
  width: 85%;
  font-size: 45rem;
}
.about_egs .col a{
  background: none;
  border: 1rem solid #FFFFFF;
}
/* egs */
.egs_row{
  padding: 60rem 0 40rem 0;
}
.egs_row h1{
  color: var(--text-color);
  width: 90%;
  margin-bottom: 260rem;
  margin-top: 20rem;
}
.egs_img{
  width: 100%;
  /* padding: 0 12rem;
  border-radius: 24rem; */
}
.egs_col h1{
  font-size: 88rem;
  color: var(--text-color);
  margin-bottom: 40rem;
}
.image_text .col.egs_col{
  background-color: #fff;
  padding: 0;
  width: 50%;
  height: auto;
}
.image_text .col.egs_col h2{
  font-size: 28rem;
  width: 100%;
  margin: 0;
}
.im_text_egs img{
  width: 600rem;
  height: 665rem;
  object-fit: cover;
}
.image_text .col.egs_col:first-of-type details{
  border-top: 0;
}
.image_text .col.egs_col details{
  padding: 32rem 0;
  margin: 0;
}
.image_text .col.egs_col p{
 margin-top: 24rem;
 margin-bottom: 0;
}
.egs_col_row{
  padding: 60rem 0 180rem 0;
}
.im_text_egs1 img{
  width: 50%;
  height: 900rem;
}
.image_text.im_text_egs1 .col.egs_col{
  padding: 60rem 80rem 0 80rem;
  height: 900rem;
  background-color: #f6f6f6;
}
.image_text.im_text_egs1 .col.egs_col details{
  background-color: #f6f6f6;
}
.image_text.im_text_egs1 .col.egs_col h1{
  width: 60%;
}

.daily_banner{
  width: 100%;
 padding-top: 80rem;
  /* background: rgb(248,210,10);
  background: radial-gradient(circle, rgba(248,210,10,0.8288048495765494) 0%, rgba(255,232,0,0) 100%);  */
}
.daily_banner h2{
  font-size: 40rem;
  margin-bottom: 25rem;
}
.daily_banner p{
  width: 50%;
}
.about-cards {
  overflow: hidden;
  padding: 30rem 0;
  /* border-bottom: 1rem solid #E6E6E6; */
}
.about-cards__row {
  display: flex;
justify-content: space-between;
  row-gap: 32rem;
  position: relative;
  z-index: 2;
}
.about-cards__row li{
  width: 100%;
  padding-left: 30rem;
  list-style: none;
  position: relative;
  margin-bottom: 20rem;
}
.about-cards__row div{ 
  width: 80%;
}
.about-cards__row .flex_column{
  width: 30%;
}
.about-cards__row video{
  width: 100%;
  height: 390rem;
  margin-bottom: 20rem;
  object-fit: cover;
}
.about-cards__row li::after{
  content: url(img/check.png);
  display: flex;
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-radius: 50%;
  background-color: #FAC63E;
  position: absolute;
  left: 2rem;
  top: 5rem;
}
/* @media (max-width: 991px) {
  .about-cards__row {
    gap: 32rem;
    row-gap: 32rem;
    max-height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 32rem;
  }
} */
@media (max-width: 575px) {
  .about-cards__row {
    row-gap: unset;
    -webkit-column-gap: unset;
       -moz-column-gap: unset;
            column-gap: unset;
    padding-top: unset;
  }
}
.about-cards__item {
  padding: 25rem;
  border-radius: 16rem;
  border: 1rem solid #FFD147;
  width: 30%;
  background-color: #fff;
  height: 175rem;
  /* From https://css.glass */
border-radius: 16rem;
box-shadow: 0 4rem 15rem rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5rem);
-webkit-backdrop-filter: blur(5rem);
border: 1.5rem solid #FFD147;
transition: all ease 0.2s;
}
.about-cards__item:hover{
  transform: translateY(-10rem)!important;
}
.about-cards__item:nth-child(2) {
  margin-top: 48rem;
}
/* @media (max-width: 991px) {
  .about-cards__item:nth-child(1) {
    margin-top: 0;
  }
} */
.about-cards__item:nth-child(4) {
  margin-top: -48rem;
}
.about-cards__item:nth-child(7) {
  margin-top: -48rem;
}
.about-cards__item:nth-child(3) {
  margin-top: -48rem;
}
.about-cards__item:nth-child(6) {
  margin-top: -80rem;
}
.about-cards__item:nth-child(9) {
  margin-top: -80rem;
}
/* @media (max-width: 991px) {
  .about-cards__item:nth-child(3) {
    margin-top: 0;
  }
} */
@media (max-width: 991px) {
  .about-cards__item {
    width: calc(50% - 16rem);
    height: auto;
  }
}
@media (max-width: 575px) {
  .about-cards__item {
    width: 100%;
    border: unset;
    border-bottom: 1rem solid #E6E6E6;
    padding: 32rem 0;
  }
}
.about-cards__item-title {
  margin-bottom: 15rem;
  font-weight: 700;
  font-size: 24rem;
}
@media (max-width: 767rem) {
  .about-cards__item-title {
    font-size: 18rem;
  }
}
@media (max-width: 575px) {
  .about-cards__item-title {
    font-size: 18rem;
    font-weight: 700;
  }
  .about-cards__item-title br {
    display: none;
  }
}
.about-cards__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30rem;
}
/* @media (max-width: 991px) {
  .about-cards__header {
    padding: 32rem 0;
    border-top: 1rem solid #E2E2E2;
    border-bottom: 1rem solid #E2E2E2;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32rem;
  }
} */
.about-cards__header-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}
.about-cards__header-left img {
  width: calc(100% + 24rem);
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: -64rem;
  left: -24rem;
}
@media (max-width: 1200px) {
  .about-cards__header-left img {
    width: 160%;
  }
}
@media (max-width: 991px) {
  .about-cards__header-left img {
    width: 300rem;
    top: -152rem;
    right: 0;
    left: unset;
  }
}
@media (max-width: 575px) {
  .about-cards__header-left img {
    width: 300rem;
    top: -150rem;
    right: -140rem;
  }
}
.about-cards__title {
  position: relative;
  z-index: 2;
  max-width: 650rem;
}
@media (max-width: 991px) {
  .about-cards__title {
    width: 100%;
    max-width: 100%;
  }
}
.about-cards__title-mobile {
  display: none;
  position: relative;
  z-index: 2;
}
.about-cards__header-right {
  width: calc(33.333% - 32rem);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 991px) {
  .about-cards__header-right {
    width: 100%;
    max-width: 100%;
  }
}
.about-cards__header-right .text-3 {
  max-width: 386rem;
}
@media (max-width: 991px) {
  .about-cards__header-right .text-3 {
    width: 100%;
    max-width: 100%;
  }
}

.clocks {
  position: relative;
}
.clocks__inner {
  width: 100%;
/*  max-width: 1920rem;*/
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clocks__item {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 767rem) {
  .clocks__item {
    width: 100%;
  }
}
.clocks__text {
  position: absolute;
  top: 64rem;
  width: 100%;
}
.clocks__text h2 {
  padding: 32rem 0;
  border-top: 1rem solid #373737;
  width: 100%;
}
@media (max-width: 767rem) {
  .clocks__text h2 {
    font-size: 18rem;
    border-top: 1rem solid #E2E2E2;
  }
}
.clocks__container-clock {
  margin: 240rem auto 180rem;
  width: 420rem;
  height: 420rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg width='420' height='420' viewBox='0 0 420 420' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='210' cy='210' r='202' stroke='%23767676' stroke-width='16' stroke-miterlimit='3.99933' stroke-linejoin='round' stroke-dasharray='2 2'/%3E%3C/svg%3E%0A");
  background-size: 100% 100%;
}
@media (max-width: 991px) {
  .clocks__container-clock {
    width: 320rem;
    height: 320rem;
    margin: 200rem auto 140rem;
  }
}
@media (max-width: 767rem) {
  .clocks__container-clock {
    background-image: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 575px) {
  .clocks__container-clock {
    margin: 160rem auto 130rem;
  }
}
.join_daily{
  margin: 40rem 0;
  padding: 60rem 0;
}
.join_daily h2{
  text-align: center;
  font-size: 40rem;
  margin-bottom: 20rem;
}
.join_daily p{
  text-align: center;
  width: 60%;
  font-size: 24rem;
  margin-left: auto;
  margin-right: auto;
}
.sectors {
  padding: 40rem 0;
}
.sectors h2{
  font-size: 42rem;
  text-align: center;
  margin-bottom: 30rem;
}
.sectors .flex_between{
  column-gap: 50rem;
  margin-bottom: 30rem;
  flex-direction: column;
  row-gap: 20rem;
}
.sectors .flex_between p{
  font-size: 20rem;
}
.sectors .p_sector{
  text-align: center;
  font-size: 24rem;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
.map_full{
  width: 100%;
  height: 100vh;
}
.input-preview__src {
	display: none;
}

.input-preview {
	border-radius: 4rem;
	height: 50rem;
	display: flex;
	align-items: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 100%;
  width: 40%;
  min-width: 265rem;
	position: relative;
	transition: ease-in-out 750ms;
}
.input-preview h4{
  display: flex;
  align-items: center;
}
.input-preview h4 img{
  width: 30rem;
  margin-left: 5rem;
}
.input-preview::after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	transform: translateY(50%);
	content: "";
}
.burger_menu, .mob_menu{
  display: none;
}
@media (max-width: 991px) {
  .about__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 32rem;
  }
  .about__text{
    max-width: 100%;
  }
}

.home_banner{
  max-width: 1262rem;
  margin-left: auto;
  margin-right: auto;
}


/* Для экранов шире 1920rem */
@media (min-width: 1450px) {
  html {
    font-size: calc(1vw / 19.2) !important;
  }
  .container, .our_products .products_banner, .career_banner{
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .ads_banner, .map_banner, .career_banner .text, .career_banner img{
    margin-left: 100px;
    margin-right: 100px;
  }
  .map_banner .container{
    justify-content: center;
  }
  .map_banner .container video{
    width: auto;
  }
  .career_banner img {
    width: 34%;
    object-fit: cover;
    height: auto;
    position: absolute;
    right: 0;
    top: -22%;
  }
  .pricing::after{
    display: none;
  }
  .about-cards__row video{
    height: auto;
  }
  .about_egs .col, .about_egs img{
    height: 307px;
  }
  .jobs_row .item{
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
html {
  font-size: 1px;
}
/* 
 */
 /* .fourth-set{
  color: rgb(0, 0, 0);
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
/*   shorthand animation property: name | duration | iteration count */
/*   animation: text 4s 1; */
  /* animation-name: text;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  height: fit-content!important;
  overflow: visible!important;
 }
 @keyframes text {
  0% {
    color: black;
  }
  30% {
    letter-spacing: 10px;
  }
  85% {
    letter-spacing: 3px;
  }
  100% {
    margin-bottom: 20px;
  }
} */